@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Lato', sans-serif;
  background: linear-gradient(89deg, rgb(131, 255, 203) 0%, rgb(20, 168, 173) 100%)
}


button {
  cursor: pointer;
}